@font-face {
  font-family: "CeraPro";
  src: url("../fonts/CeraPro-Bold.woff") format("woff");
  src: url("../fonts/CeraPro-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff") format("woff");
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
